.text {
	font-family: var(--font-secondary);
	font-style: normal;
	margin: 0;
	&--large {
		font-size: responsive 20px 24px;
		font-range: 576px 1600px;
	}
	&--medium {
		font-size: 20px;
	}
	&--pre-medium {
		font-size: 18px;
	}
	&--normal {
		font-size: 16px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 12px;
	}
	&--primary {
		color: var(--primary-font-color);
	}
	&--white {
		color: var(--primary-bg);
	}
	&--secondary {
		color: var(--secondary-font-color);
	}
	&--subtext {
		color: var(--subtext-font-color);
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-semibold {
		font-weight: 600;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}