.title {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--huge {
		font-size: responsive 76px 96px;
		font-range: 375px 1024px;
	}
	&--big {
		font-size: responsive 24px 44px;
		font-range: 375px 1024px;
	}
	&--large {
		font-size: responsive 24px 36px;
		font-range: 375px 1024px;
	}
	&--small {
		font-size: 24px;
	}
	&--primary {
		color: var(--primary-font-color);
	}
	&--secondary {
		color: var(--secondary-font-color);
	}
	&--white {
		color: var(--white-font-color);
	}
	&--green {
		color: var(--primary);
	}
	&--w-regular {
		font-weight: 400;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--uppercase {
		text-transform: uppercase;
	}
	&--decor {
		position: relative;
		padding-left: 38px;
		@include mobile {
			padding-left: 28px;
		}
	}
	&--decor::before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url("../img/icons/title-arrow.svg") no-repeat center;
		background-size: 43px 39px;
		display: inline-block;
		width: 24px;
		height: 39px;
		@include mobile {
			background-size: 26px 26px;
			width: 16px;
			height: 26px;
		}
	}
}

.title--indent {
	margin-bottom: 48px;
	@include mobile {
		margin-bottom: 24px;
	}
}