.title {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--extra-huge {
		font-size: responsive 48px 120px;
		font-range: 375px 1600px;
	}
	&--huge {
		font-size: responsive 32px 64px;
		font-range: 375px 1600px;
	}
	&--big {
		font-size: responsive 32px 48px;
		font-range: 375px 1600px;
	}
	&--pre-big {
		font-size: responsive 24px 32px;
		font-range: 375px 1600px;
	}
	&--large {
		font-size: responsive 24px 28px;
		font-range: 375px 1600px;
	}
	&--medium {
		font-size: responsive 20px 24px;
		font-range: 375px 1600px;
	}
	&--small {
		font-size: 20px;
	}
	&--primary {
		color: var(--primary-font-color);
	}
	&--orange {
		color: var(--primary);
	}
	&--white {
		color: var(--primary-bg);
	}
	&--secondary {
		color: var(--secondary-font-color);
	}
	&--subtext {
		color: var(--subtext-font-color);
	}
	&--w-semibold {
		font-weight: 600;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
	margin-bottom: 48px;
	@include mobile {
		margin-bottom: 24px;
	}
}