:root {
	--container-width: 1680px;
	--container-padding: 16px;

	--font-main: Tektur, sans-serif;
	--font-secondary: Gilroy, sans-serif;

	/* Brand Colors */
	--primary: #F48A0B;
	--secondary: #16161C;
	/* State Colors */
	--primary-hover: #E3820D;
	--primary-pressed: #F48A0B;
	--disabled: #ECEFF1;
	--secondary-hover: #D30A21;
	--secondary-pressed: #A9081A;
	/* Input Colors */
	--normal: #FFFFFF;
	--success: #E9F1E4;
	--error: #F8E4E2;
	/* Border Colors */
	--primary-border: #DDE5E3;
	--normal-border: #C9CBC8;
	--success-border: #699E4A;
	--error-border: #D1493F;
	/* Background Colors */
	--primary-bg: #FFFFFF;
	--secondary-bg: #ECEFF180;
	--secondary-bg-2: #ECEFF1;
	--dark-bg: #16161C;
	--blue-gray-bg: #CFD8DC;
	/* Font Colors */
	--primary-font-color: #16161C;
	--secondary-font-color: #607D8B;
	--subtext-font-color: #B0BEC5;
	--gray-font-color: #4F4F4F;
	--blue-gray-font-color: #78909C;
	/* Shadows */
	--small-shadow: 0px 3px 10px 0px #8585851A;
	--big-shadow: 0px 10px 50px 0px #8585850D;

	--padding-block-48: 48px 0;
	--padding-block-80: 80px 0;
	--padding-block-120: 120px 0;

    --laptop-size: 1199px;
	--tablet-size: 1024px;
	--mobile-size: 768px;

	--hover-time: .3s;
}