.button {
  font-family: var(--font-main);
  font-weight: 600;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  line-height: 31px;
  padding: 24px 32px;
  z-index: 1;
  outline: var(--primary);
  background: transparent;
  transition: background .3s ease-out, color .3s ease-out, border .3s ease-out, opacity .3s ease-out, width .3s ease-out;
  overflow: hidden;
  text-transform: uppercase;
  @include mobile {
    justify-content: center;
  }
}

.button__icon {
  min-width: 24px;
}

.button span {
  line-height: 1;
}

.button--primary {
  background-color: var(--primary);
  color: var(--primary-bg);
  border: 1px solid transparent;
  @include mobile {
    width: 100%;
  }
}

.button--primary:hover,
.button--primary:focus,
.button--primary:target {
  background-color: var(--primary-hover);
}

.button--primary:active {
  background-color: var(--primary-pressed);
}

.button--primary:disabled {
  color: var(--secondary-bg);
  background-color: var(--disabled);
}

.button--secondary {
  background-color: var(--secondary-bg-2);
  color: var(--secondary-font-color);
  @include mobile {
    font-size: 16px;
    width: 100%;
  }
}

.button--secondary .button__icon {
  fill: var(--secondary-font-color);
}

.button--secondary:hover,
.button--secondary:focus,
.button--secondary:target {
  background-color: var(--blue-gray-bg);
  color: var(--secondary-font-color);
}

.button--secondary:active {
  color: var(--primary-pressed);
}

.button--secondary:disabled {
  background-color: var(--disabled);
  color: var(--secondary-bg);
}

.button--thirty {
  background-color: var(--dark-bg);
  color: var(--primary-bg);
  border: 1px solid #0053391A;
  @include mobile {
    font-size: 16px;
    width: 100%;
  }
}

.button--thirty:hover,
.button--thirty:focus,
.button--thirty:target {
  background-color: #263238;
}

.button--thirty:active {
  color: var(--primary-pressed);
}

.button--thirty:disabled {
  background-color: var(--disabled);
  color: var(--secondary-bg);
}

.button--text {
  color: var(--primary);
  padding: 3px;
  font-weight: normal;
}

.button--text:hover,
.button--text:focus,
.button--text:target {
  color: var(--primary);
  background-color: var(--focus-bg);
}

.button--text:active,
.button--text.is-active {
  background-color: var(--primary);
  color: var(--primary-bg);
}

.button--text:active .button__icon {
  stroke: var(--primary-bg);
}

.button--text:disabled {
  color: var(--disabled);
}

.button--medium {
  font-size: 16px;
  line-height: 20px;
  padding: 16px 24px;
}

.button--small {
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
}