.button {
  font-family: var(--font-main);
  font-weight: 600;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  line-height: 31px;
  padding: 24px 32px;
  z-index: 1;
  outline: var(--primary);
  background: transparent;
  transition: background .3s ease-out, color .3s ease-out, border .3s ease-out, opacity .3s ease-out, width .3s ease-out;
  overflow: hidden;
  text-transform: uppercase;
  @include mobile {
    justify-content: center;
  }
}

.button__icon {
  min-width: 24px;
}

.button span {
  line-height: 1;
}

.button--primary {
  background-color: var(--primary);
  color: var(--primary-bg);
  border: 1px solid transparent;
  @include mobile {
    width: 100%;
  }
}

.button--primary:hover,
.button--primary:focus,
.button--primary:target {
  color: var(--primary-bg);
  background-color: var(--primary-hover);
}

.button--primary:active {
  color: var(--primary-bg);
  background-color: var(--primary-pressed);
}

.button--primary:disabled {
  color: var(--secondary-bg);
  background-color: var(--disabled);
}

.button--secondary {
  background-color: var(--secondary-bg-2);
  color: var(--secondary-font-color);
  @include mobile {
    font-size: 16px;
    width: 100%;
  }
}

.button--secondary .button__icon {
  fill: var(--secondary-font-color);
}

.button--secondary:hover,
.button--secondary:focus,
.button--secondary:target {
  background-color: var(--blue-gray-bg);
  color: var(--secondary-font-color);
}

.button--secondary:active {
  color: var(--primary-pressed);
}

.button--secondary:disabled {
  background-color: var(--disabled);
  color: var(--secondary-bg);
}

.button--thirty {
  background-color: var(--dark-bg);
  color: var(--primary-bg);
  border: 1px solid #0053391A;
  @include mobile {
    font-size: 16px;
    width: 100%;
  }
}

.button--thirty:hover,
.button--thirty:focus,
.button--thirty:target {
  background-color: #263238;
}

.button--thirty:active {
  color: var(--primary-pressed);
}

.button--thirty:disabled {
  background-color: var(--disabled);
  color: var(--secondary-bg);
}

.button--text {
  color: var(--primary);
  padding: 3px;
}

.button--text-secondary {
  color: var(--secondary-font-color);
}

.button--text:hover,
.button--text:focus,
.button--text:target {
  color: var(--primary);
  background-color: var(--focus-bg);
}

.button--text:active,
.button--text.is-active {
  background-color: var(--primary);
  color: var(--primary-bg);
}

.button--text:active .button__icon {
  stroke: var(--primary-bg);
}

.button--text:disabled {
  color: var(--disabled);
}

.button--transparent {
  background: transparent;
}

.button--medium {
  font-size: 16px;
  line-height: 20px;
  padding: 16px 24px;
}

.button--small {
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
}

.button-tag {
  position: relative;
  font-family: var(--font-secondary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 63px;
  background-color: var(--secondary-bg-2);
  color: var(--secondary-font-color);
  transition: background-color var(--hover-time) ease, color var(--hover-time) ease;
}

.button-tag.is-active::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.36641 12.5001L2.56641 8.70007L3.51641 7.75007L6.36641 10.6001L12.4831 4.4834L13.4331 5.4334L6.36641 12.5001Z' fill='white'/%3E%3C/svg%3E");
  height: 16px;
}

.button-tag.is-active,
.button-tag:hover {
  background-color: var(--primary);
  color: var(--primary-bg);
}