.calculator {
	background-color: var(--secondary-bg);
}

.calculator__top,
.calculator__bottom {
	padding: 32px;
	background-color: var(--primary-bg);
}

.calculator__bottom {
	margin-top: 12px;
}

.calculator__add-button,
.calculator__export-button {
	font-size: 16px;
	padding: 18px;
	justify-content: center;
}

.calculator__add-button {
	color: #607D8B;
	width: 100%;
	margin-top: 24px;
}

.calculator__add-button:hover {
	color: var(--primary);
}

.calculator__export-button {
	background-color: #30B800;
	color: var(--primary-bg);
	width: 100%;
}

.calculator__export-button:hover {
	background-color: var(--primary);
}

.calculator__item {
	display: flex;
	gap: 12px;
}

.calculator__item + .calculator__item {
	margin-top: 24px;
}

.calculator__label {
	position: relative;
	width: 100%;
}

.calculator__label > span {
	position: absolute;
	top: 14px;
	left: 16px;
	font-size: 13px;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}

.calculator__input {
	width: 100%;
	height: 100%;
	background-color: #ECEFF1;
	padding: 33px 52px 10px 16px;
	font-family: var(--font-secondary);
	font-weight: 600;
	font-size: 18px;
}

.calculator__input::-webkit-outer-spin-button,
.calculator__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.calculator__select.ss-main:focus {
	--ss-focus-color: #F48A0B;
}

.ss-main.calculator__select .ss-arrow {
	position: absolute;
	right: 18px;
	top: 50%;
	transform: translateY(-50%);
}

.ss-main.calculator__select {
	--ss-font-color: #16161C;
	--ss-bg-color: #ECEFF1;
	--ss-spacing-s: 33px 52px 10px 16px;
	font-family: var(--font-secondary);
	font-weight: 600;
	font-size: 18px;
}

.ss-content.calculator__select .ss-list .ss-option {
	font-weight: 600;
	padding: 12px 16px 12px 16px;
}

.ss-content.calculator__select .ss-list .ss-option.ss-highlighted,
.ss-content.calculator__select .ss-list .ss-option:not(.ss-disabled).ss-selected {
	--ss-primary-color: #F48A0B;
	font-weight: 600;
	font-size: 18px;
}

.ss-content.calculator__select .ss-list .ss-option:hover {
	--ss-primary-color: #E3820D;
}
