.certificates {
	padding: 120px 0;
	@include tablet {
		padding: 64px 0;
	}
}

.certificates__slider-nav-wrap {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	max-width: var(--container-width);
	width: 100%;
	margin-bottom: 64px;
	@include mobile {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 32px;
	}
}

.certificates__item {
	position: relative;
	background-color: var(--secondary-bg-2, #ECEFF1);
	padding: 32px;
	height: 100%;
	gap: 50px;
	overflow: hidden;
	transition: background-color var(--hover-time) ease;
}

.certificates__item:hover {
	background-color: var(--blue-gray-bg, #CFD8DC);
}

.certificates__item-pic {
	align-self: center;
	box-shadow: 0 12px 32px 0 #0000001F;
	transform: matrix(1, -0.1, 0.15, 1, 0, 0) translate(0, 0);
	transition:  transform var(--hover-time) ease;
}

.certificates__item:hover .certificates__item-pic {
	transform: matrix(1, -0.1, 0.25, 1, 0, 0) translate(15px,-30px);
	@include mobile {
		transform: matrix(1, -0.1, 0.25, 1, 0, 0) translate(15px,-20px);
	}
}

.certificates__item-pic picture,
.certificates__item-pic img {
	max-width: 206px;
}

.certificates__item-button.button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	width: max-content;
	opacity: 0;
	visibility: hidden;
}

.certificates__item:hover .certificates__item-button.button {
	opacity: 1;
	visibility: visible;
}

.certificates__item-download {
	padding: 32px;
	border: 1px solid var(--blue-gray-bg);
	gap: 12px;
	transition: color var(--hover-time) ease;
}

.certificates__item-download:hover {
	color: var(--primary);
}

.certificates__item-download-icon {
	min-width: 40px;
}

/* Certificates-page */
.certificates.certificates--page {
	padding: 80px 0;
	@include mobile {
		padding-top: 0;
	}
}

.certificates.certificates--page .certificates__tabs {
	display: grid;
	grid-template-columns: minmax(280px, 300px) 1fr;
	align-items: start;
	gap: 80px;
	@include mobile {
		grid-template-columns: 1fr;
	}
}

.certificates.certificates--page .certificates__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 32px;
}

.certificates__tabs-buttons.tabs__buttons {
	gap: 0;
	border-left: 1px solid var(--blue-gray-bg);
	margin-top: 0;
	@include mobile {
		//position: relative;
		flex-direction: row;
		justify-content: flex-start;
		gap: 32px;
		border-left: none;
		margin-top: -91px;
		overflow-x: auto;
	}
}

.certificates__tabs-buttons.tabs__buttons {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.certificates__tabs-buttons.tabs__buttons::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.certificates.certificates--page .certificates__tabs-button.tabs__button {
	@extend .text--pre-medium;
	@extend .text--primary;
	padding: 16px 0 16px 32px;
	border-left: 4px solid transparent;
	@include mobile {
		//position: relative;
		padding: 32px 0;
		border-left: none;
		border-bottom: 4px solid transparent;
		white-space: nowrap;
	}
}

.certificates.certificates--page .certificates__tabs-button.tabs__button.is-active {
	border-left: 4px solid var(--primary);
	@include mobile {
		border-left: none;
		border-bottom: 4px solid var(--primary);
	}
}

.certificates.certificates--page .certificates__items-download {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
	@include tablet {
		grid-template-columns: 1fr;
	}
}