.gallery-manufacture {
	padding: 80px 0;
	@include mobile {
		padding: 64px 0;
	}
}

.gallery-manufacture__title {
	margin-bottom: 48px;
}

.gallery-manufacture__splide-slide picture,
.gallery-manufacture__splide-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-manufacture__splide-arrows.slider-nav {
	margin-top: 24px;
	@include mobile {
		margin-top: 20px;
		justify-content: center;
	}
}

.gallery-manufacture__splide-arrows.slider-nav .slider-nav__splide-arrow {
	background-color: var(--secondary-bg-2);
}

/* Gallery-manufacture */
.gallery-manufacture__slider-nav-wrap {
	padding-right: var(--container-padding);
	max-width: var(--container-width);
	width: 100%;
	margin-bottom: 64px;
	@include mobile {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 32px;
	}
}

.gallery-manufacture.gallery-manufacture--vacancy .gallery-manufacture__splide-arrows.slider-nav {
	margin-top: 0;
}

/* Gallery manufacture shipment */
.gallery-manufacture.gallery-manufacture--shipment {
	padding: 0 0 80px;
	margin-top: -220px;
	@include mobile {
		margin-top: 0;
		padding: 0 0 20px;
	}
}