.header {
	position: relative;
	color: var(--primary-font-color);
	background-color: var(--secondary-bg);
	border-bottom: 1px solid var(--secondary-bg-2);
}

.header.header--dark {
	color: var(--primary-bg);
}

.header__top-wrap {
	padding: 32px 0;
	gap: 32px;
}

.header__logo-wrap {
	gap: 24px;
}

.header__logo {
	@include tablet {
		max-width: 170px;
	}
}

.header__excerpt {
	margin-right: auto;
	max-width: 298px;
	@include to(1440px) {
		font-size: 14px;
		max-width: 280px;
	}
	@include mobile {
		display: none;
	}
}

.header__excerpt,
.header__contact {
	color: inherit;
}

.header__button {
	color: #607D8B;
	@include tablet {
		margin-left: auto;
	}
	@include mobile {
		width: auto;
	}
	@include mobileXS {
		display: none;
	}
}

.header__button .button__icon {
	--file-header-color: #607D8B;
	fill: var(--file-header-color);
}

a.header__contact[href^="mailto"] {
	font-size: 18px;
	font-weight: 600;
}

a.header__contact[href^="tel"] {
	font-size: 24px;
	font-weight: bold;
	@include to(1440px) {
		font-size: 18px;
		font-weight: 600;
	}
}

a.header__contact {
	@include tablet {
		display: none;
	}
}

.header__search-btn {
	--search-color: var(--primary);
	fill: var(--search-color);
	cursor: pointer;
}

.header__search-btn.header__search-btn--top {
	display: none;
	@include tablet {
		display: block;
	}
	@include mobile {
		margin-left: auto;
	}
}

