.main-screen {
	position: relative;
	overflow: hidden;
}

.main-screen__banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.main-screen__banner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.main-screen__banner picture,
.main-screen__banner img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-screen__body {
	position: relative;
}

.main-screen__inner {
	min-height: 100vh;
}

.main-screen__info {
	margin-top: auto;
	max-width: 1024px;
	@media
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(max-height: 1024px){
		margin-top: 100px;
	}
	@include mobile {
		margin-top: 0;
	}
}

.main-screen__heading {
	@include mobile {
		font-size: 24px;
	}
}

.main-screen__subtitle {
	margin-top: 12px;
	@include mobile {
		font-size: 24px;
	}
}

.main-screen__button {
	margin-top: 32px;
}

.main-screen__bottom {
	margin-top: 109px;
	padding: 80px 0;
	gap: 32px;
	@include tablet {
		flex-wrap: wrap;
	}
	@include mobile {
		flex-direction: column;
		padding: 24px 0;
		margin-top: 80px;
		align-items: flex-start;
	}
}

.main-screen__feature:hover .main-screen__feature-name,
.main-screen__feature:hover .main-screen__feature-name.title span {
	transform: scale(1.5);
	color: var(--primary);
	@include mobile {
		transform: scale(1.1);
	}
}

.main-screen__feature:hover .main-screen__feature-excerpt {
	transform: translateY(30px);
	@include mobile {
		transform: translateY(15px);
	}
}

.main-screen__feature-name.title span {
	font-size: 44px;
	color: var(--primary-bg);
}

.main-screen__feature-name.title {
	@include mobile {
		font-size: 48px;
	}
}

.main-screen__feature-excerpt {
	@include mobile {
		font-size: 18px;
	}
}

.main-screen__feature-name.title span,
.main-screen__feature-name,
.main-screen__feature-excerpt {
	transition: color var(--hover-time) ease, transform var(--hover-time) ease;
}