.manufacture {
	background-color: var(--secondary);
}

.manufacture__wrap-top {
	padding-top: 120px;
	padding-bottom: 0;
	background-image: url('../img/other/manufacture-decor.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.manufacture__top {
	gap: 50px;
	@include tablet {
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
	}
}

.manufacture__top .button {
	white-space: nowrap;
}

.manufacture__top .button .button__icon {
	min-width: 45px;
}

.manufacture__features {
	padding: 80px 0 80px;
	gap: 32px;
	@include tablet {
		padding: 32px 0 64px;
		flex-direction: column;
	}
}

.manufacture__features + .manufacture__heading {
	@include tablet {
		margin-top: 64px;
	}
	@include mobile {
		margin-top: 0;
	}
}

.manufacture__tabs-outer {
	@include mobile {
		display: none;
	}
}

.manufacture__accordion-outer {
	display: none;
	@include mobile {
		display: block;
		padding-top: 48px;
		padding-bottom: 64px;
	}
}

.manufacture__tabs {
	display: grid;
	grid-template-columns: minmax(300px, 504px) minmax(500px, 1fr);
	gap: 80px;
	padding: 48px 0 130px;
	@include tablet {
		padding: 24px 0 64px;
		grid-template-columns: 1fr;
		gap: 32px;
	}
}

.manufacture__tabs-buttons {
	gap: 32px;
	margin-top: 0;
	flex-direction: column;
}

.manufacture__tabs-num {
	margin-bottom: 16px;
}

.manufacture__tabs-num {
	transform: scale(1) translateX(0px);
	transition: transform var(--hover-time) ease;
}

.manufacture__tabs-button.tabs__button {
	padding-bottom: 32px;
	border-bottom: 1px solid #FFFFFF8A;
	transition: all var(--hover-time) ease;
	@include tablet {
		padding-bottom: 24px;
	}
}

.manufacture__tabs-button.tabs__button:hover,
.manufacture__tabs-button.is-active {
	border-bottom: 1px solid var(--primary);
}

.manufacture__tabs-button.is-active .manufacture__tabs-name {
	transform: scale(1.1) translateX(40px);
	transition: transform var(--hover-time) ease;
	@include tablet {
		transform: scale(1) translateX(20px);
	}
}

.manufacture__tabs-content,
.manufacture__accordion-item-content {
	position: relative;
}

.manufacture__tabs-content-wrap,
.manufacture__accordion-item-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.manufacture__tabs-pic picture,
.manufacture__tabs-pic img,
.manufacture__accordion-item-pic picture,
.manufacture__accordion-item-pic img {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.manufacture__tabs-info {
	position: relative;
	padding: 32px;
	background: #16161CAD;
	max-width: 834px;
	margin-top: auto;
	@include tablet {
		padding: 24px;
	}
}

/* Manufacture-accordion */
.manufacture__accordion-item-button {
	cursor: pointer;
	padding: 0 0 32px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	margin-top: 16px;
	align-items: baseline;
	transition: 0.4s;
}

.manufacture__accordion-item-button.is-active,
.manufacture__accordion-item-button:hover {
	color: var(--primary);
}

.manufacture__accordion-item-content {
	max-height: 0;
	overflow: hidden;
	border-bottom: 1px solid #FFFFFF8A;
	transition: max-height 0.2s ease-out;
}

.manufacture__accordion-item-info {
	position: relative;
	padding: 24px 18px;
	background: #16161CAD;
	margin-top: auto;
}

.manufacture__accordion-item + .manufacture__accordion-item {
	margin-top: 24px;
}

/* Manufacture-catalog */
.manufacture.manufacture--catalog .manufacture__heading span {
	color: var(--primary-font-color, #16161C);
}

.manufacture.manufacture--catalog .manufacture__outer-top {
	background-color: var(--primary-bg);
	padding-top: 130px;
}