.page-head {
	padding: 64px 0 80px;
	background-color: var(--secondary-bg-2, #ECEFF1);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@include tablet {
		padding: 32px 0 48px;
	}
}

.page-head.page-head--dark {
	background-color: var(--dark-bg, #16161C);
}

.page-head.page-head--white {
	background-color: var(--primary-bg, #FFFFFF);
}

.page-head__heading {
	position: relative;
}

/* Contacts */
.page-head.page-head--contacts {
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 80%;
	@include mobile {
		background-size: 100%;
		background-position: bottom center;
	}
}

.page-head.page-head--contacts .page-head__wrap {
	margin-top: 80px;
	@include mobile {
		margin-top: 32px;
	}
}

.page-head.page-head--contacts .page-head__description {
	max-width: 390px;
	@include mobile {
		padding-bottom: 48px;
	}
}

.page-head.page-head--contacts .page-head__wrap {
	gap: 30px;
	@include to(1200px) {
		flex-wrap: wrap;
	}
	@include mobile {
		gap: 48px;
	}
}

.page-head.page-head--contacts .page-head__contacts-wrap {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: 100px 30px;
	width: 100%;
	max-width: 1076px;
	@include tablet {
		gap: 30px;
	}
	@include mobile {
		gap: 24px;
	}
}

.page-head.page-head--contacts .page-head__prop-name {
	margin-bottom: 24px;
	@include tablet {
		margin-bottom: 16px;
	}
	@include mobile {
		margin-bottom: 12px;
	}
}

/* Areas-of-application */
.page-head.page-head--areas-application .page-head__wrap {
	margin-top: 60px;
	gap: 60px;
	@include tablet {
		flex-direction: column;
		margin-top: 32px;
		gap: 12px;
		align-items: flex-start;
	}
}

.page-head.page-head--areas-application .page-head__application-years {
	font-size: responsive 64px 80px;
	font-range: 1024px 1600px;
	padding-top: 60px;
	border-top: 1px solid var(--blue-gray-bg, #CFD8DC);
	@include tablet {
		padding-top: 32px;
	}
}

.page-head.page-head--areas-application .page-head__application-description {
	font-size: responsive 20px 38px;
	font-range: 1024px 1600px;
	padding-top: 60px;
	@include tablet {
		padding-top: 0;
	}
}

/* Partners */
.page-head.page-head--partners .page-head__wrap {
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 32px;
	@include mobile {
		grid-template-columns: repeat(2, minmax(150px, 1fr));
		gap: 14px;
		margin-top: 32px;
	}
}

.page-head.page-head--partners .page-head__item-partner {
	background-color: var(--primary-bg, #FFFFFF);
	padding: 15px;
	min-height: 266px;
	max-height: 266px;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: grayscale(1);
	transition: filter var(--hover-time) ease;
	@include mobile {
		min-height: 119px;
		max-height: 119px;
	}
}

.page-head.page-head--partners .page-head__item-partner:hover {
	filter: grayscale(0);
}

.page-head.page-head--partners .page-head__item-partner picture,
.page-head.page-head--partners .page-head__item-partner img {
	display: block;
	max-width: 90px;
	height: 100%;
	object-fit: contain;
}

/* Payment details */
.page-head.page-head--payment-details .page-head__top {
	gap: 50px;
	@include tablet {
		flex-wrap: wrap;
	}
}

/* Photo gallery */
.page-head.page-head--gallery {
	padding: 80px 0 0;
	@include mobile {
		padding: 48px 0 0;
	}
}

.page-head.page-head--gallery .page-head__anchors {
	position: relative;
	gap: 32px;
	margin-top: 80px;
	@include tablet {
		margin-top: 48px;
		overflow: auto;
	}
}

.page-head.page-head--gallery .page-head__anchor {
	padding: 32px 0;
	white-space: nowrap;
	border-bottom: 2px solid transparent;
}

.page-head.page-head--gallery .page-head__anchor.is-active {
	border-bottom: 2px solid var(--primary);
}

/* Post detail */
.page-head.page-head--post {
	padding-bottom: 240px;
	@include tablet {
		padding-bottom: 48px;
	}
}

/* Payment and delivery */
.page-head.page-head--pad {
	position: relative;
	padding-bottom: 0;
}

.page-head.page-head--pad::before {
	content: '';
	position: absolute;
	background-color: #0000008A;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
}

.page-head.page-head--pad .page-head__wrap {
	position: relative;
	margin-top: 60px;
	max-width: 873px;
}

.page-head.page-head--pad .page-head__description a {
	font-weight: bold;
	color: var(--primary-bg);
}

.page-head.page-head--pad .page-head__description a:hover {
	@extend .link;
}

.page-head.page-head--pad .page-head__anchors {
	position: relative;
	gap: 32px;
	margin-top: 120px;
}

.page-head.page-head--pad .page-head__anchor {
	padding: 32px 0;
	border-bottom: 2px solid transparent;
}

.page-head.page-head--pad .page-head__anchor.is-active {
	border-bottom: 2px solid var(--primary);
}

/* Vacancy */
.page-head.page-head--vacancy {
	position: relative;
}

.page-head.page-head--vacancy::before {
	content: '';
	position: absolute;
	background-color: #0000008A;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
}

.page-head.page-head--vacancy .page-head__wrap {
	position: relative;
	display: flex;
	gap: 110px;
	margin-top: 80px;
	@include tablet {
		flex-wrap: wrap;
	}
	@include mobile {
		gap: 24px;
	}
}

/* Fabrication */
.page-head.page-head--fabrication {
	position: relative;
	padding-bottom: 0;
}

.page-head.page-head--fabrication::before {
	content: '';
	position: absolute;
	background-color: #0000008A;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
}

.page-head__outer {
	background: linear-gradient(0deg, #16161C 0%, rgba(22, 22, 28, 0) 100%);
}

.page-head.page-head--fabrication .page-head__wrap {
	position: relative;
	display: flex;
	gap: 80px;
	margin-top: 240px;
	padding-top: 80px;
	padding-bottom: 80px;
	@include tablet {
		flex-wrap: wrap;
		margin-top: 80px;
		padding-top: 64px;
		padding-bottom: 64px;
	}
	@include mobile {
		gap: 24px;
	}
}

.page-head.page-head--fabrication::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #16161C 0%, rgba(22, 22, 28, 0) 100%);
}

/* About */
.page-head.page-head--about {
	position: relative;
	background-color: var(--dark-bg, #16161C);
	padding-bottom: 28px;
}

.page-head.page-head--about .page-head__pic-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-head.page-head--about .page-head__pic-bg picture,
.page-head.page-head--about .page-head__pic-bg img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.page-head.page-head--about .page-head__wrap {
	position: relative;
	margin-top: 110px;
	padding-left: 90px;
	max-width: 900px;
	@include mobile {
		padding-left: 0;
		margin-top: 80px;
	}
}

.page-head.page-head--about .page-head__blockquote-wrap {
	max-width: 745px;
}

.page-head.page-head--about .page-head__blockquote-decor {
	position: absolute;
	@include mobile {
		display: none;
	}
}

.page-head__blockquote-decor--left {
	left: 0;
}

.page-head__blockquote-decor--right {
	right: 0;
	bottom: 48px;
}

.page-head.page-head--about .page-head__blockquote-text {
	margin-top: 32px;
}

.page-head.page-head--about .page-head__blockquote-text {
	@include mobile {
		max-width: 300px;
	}
}

.page-head.page-head--about .page-head__blockquote-text:last-child {
	@include mobile {
		max-width: 230px;
	}
}

.page-head.page-head--about .page-head__blockquote-author {
	margin-top: 75px;
	@include mobile {
		margin-top: 63px;
	}
}

.page-head.page-head--about .page-head__blockquote-position {
	margin-top: 12px;
}

/* Shipment detail */
.page-head.page-head--shipment-detail {
	padding-bottom: 325px;
	@include mobile {
		padding-bottom: 48px;
	}
}

.page-head.page-head--shipment-detail .page-head__shipment-logo {
	padding: 30px;
	background-color: var(--primary-bg);
	max-width: 220px;
	width: 100%;
	@include mobile {
		max-width: 100%;
		padding: 15px;
	}
}

.page-head.page-head--shipment-detail .page-head__top-wrap {
	@include mobile {
		align-items: flex-start;
		flex-direction: column;
		gap: 32px;
	}
}

.page-head.page-head--shipment-detail .page-head__shipment-props {
	gap: 60px;
	margin-top: 60px;
	@include mobile {
		flex-direction: column;
		gap: 24px;
		margin-top: 32px;
	}
}

.page-head.page-head--shipment-detail .page-head__shipment-prop {
	gap: 12px;
}

/* Shipments */
.page-head.page-head--shipments {
	padding-bottom: 0;
}

.page-head.page-head--shipments .page-head__wrap {
	margin-top: 80px;
	@include mobile {
		margin-top: 32px;
	}
}

.page-head.page-head--shipments .page-head__anchors {
	position: relative;
	gap: 32px;
	@include mobile {
		overflow: auto;
	}
}

.page-head.page-head--shipments .page-head__anchor {
	padding: 32px 0;
	border-bottom: 2px solid transparent;
	@include mobile {
		white-space: nowrap;
	}
}

.page-head.page-head--shipments .page-head__anchor.is-active {
	border-bottom: 2px solid var(--primary);
}

.page-head.page-head--shipments .page-head__views {
	gap: 24px;
	@include mobile {
		display: none;
	}
}

.page-head.page-head--shipments .page-head__view {
	width: 48px;
	height: 48px;
	background-color: transparent;
	opacity: .5;
	border-radius: 50%;
	cursor: pointer;
}

.page-head.page-head--shipments .page-head__view.is-active {
	background-color: var(--primary-bg, #FFFFFF);
	opacity: 1;
}

/* Calculator-choose */
.page-head.page-head--calculator-choose {
	padding: 32px 0;
}

.page-head.page-head--calculator-choose .page-head__wrap {
	margin-top: 120px;
	@include mobile {
		margin-top: 32px;
	}
}

/* Catalog */
.page-head.page-head--catalog {
	background-color: var(--primary-bg);
	padding-bottom: 180px;
	@include mobile {
		padding-bottom: 48px;
	}
}

.page-head.page-head--catalog .page-head__wrap {
	margin-top: 48px;
	align-items: flex-start;
	gap: 32px;
	@include mobile {
		margin-top: 24px;
		flex-direction: column;
	}
}

.page-head.page-head--catalog .page-head__description {
	max-width: 1024px;
}