.page-404 {
	background-color: #0e0f15;
	position: relative;
	@include mobile {
		padding-top: 150px;
	}
}

.page-404 canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
	height: 100% !important;
	transform: rotate(15deg);
	@include mobile {
		transform: rotate(0);
		object-fit: cover;
	}
}

.page-404__inner {
	min-height: 90vh;
	position: relative;
}

.page-404__subtitle {
	margin-top: 12px;
}

.page-404__heading,
.page-404__subtitle,
.page-404__num {
	position: relative;
	z-index: 1;
}

.page-404__num {
	font-size: responsive 160px 240px;
	font-range: 768px 1600px;
	line-height: 100%;
	margin-top: 80px;
}

.page-404__action {
	margin-top: 80px;
}

.page-404__decor {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 694px;
	max-height: 700px;
	width: 100%;
}