.product-description {
	@include mobile {
		padding: 64px 0;
	}
}

.product-description__body {
	border-top: 1px solid var(--blue-gray-bg, #CFD8DC);
	border-bottom: 1px solid var(--blue-gray-bg, #CFD8DC);
	padding-top: 80px;
	padding-bottom: 80px;
	@include mobile {
		padding-top: 0;
		padding-bottom: 0;
		border-top: none;
		border-bottom: none;
	}
}

.product-description__grid {
	display: grid;
	grid-template-columns: minmax(500px, 1fr) minmax(400px, 539px);
	gap: 100px;
	justify-content: space-between;
	align-items: start;
	@include tablet {
		grid-template-columns: 1fr;
		gap: 32px;
	}
}

.product-description__title {
	margin-bottom: 48px;
	@include mobile {
		margin-bottom: 24px;
	}
}

.product-description__excerpt {
	max-height: 230px;
	overflow: hidden;
	transition: max-height var(--hover-time) ease;
	@include mobile {
		max-height: 270px;
	}
}

.product-description__excerpt.is-open {
	max-height: 2000px;
}

.product-description__scheme {
	border: 1px solid var(--secondary-bg-2);
}

.product-description__scheme picture,
.product-description__scheme img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-description__button {
	margin-top: 48px;
	font-size: 18px;
	@include mobile {
		margin-top: 24px;
	}
}