.shipments {
	padding: 130px 0;
	overflow: hidden;
	@include tablet {
		padding: 64px 0;
	}
}

.shipments__top {
	gap: 50px;
	margin-bottom: 90px;
	@include tablet {
		margin-bottom: 32px;
	}
	@include mobile {
		flex-direction: column;
		gap: 16px;
		align-items: flex-start;
	}
}

.shipments__subtitle {
	max-width: 824px;
	@include mobile {
		font-size: 16px;
	}
}

.shipments__slider-wrap {
	@include tablet {
		display: none;
	}
}

.shipments__splide.shipments__splide--text {
	margin-bottom: 100px;
	align-items: baseline;
}

.shipments__splide.shipments__splide--text::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: -50%;
	height: 1px;
	width: 999%;
	user-select: none;
	pointer-events: none;
	background-color: var(--disabled);
}

.shipments__splide.shipments__splide--text .splide__track--nav>.splide__list>.splide__slide {
	border: none;
	padding-bottom: 32px;
	z-index: 1;
	position: relative;
	font-weight: bold;
	color: var(--subtext-font-color);
	transition: color var(--hover-time) ease;
}

.shipments__splide.shipments__splide--text .splide__track--nav>.splide__list>.splide__slide:hover,
.shipments__splide.shipments__splide--text .splide__track--nav>.splide__list>.splide__slide.is-active {
	color: var(--primary-font-color);
}

.shipments__splide.shipments__splide--text .splide__track--nav>.splide__list>.splide__slide::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background-color: transparent;
	z-index: 10;
}

.shipments__splide.shipments__splide--text .splide__track--nav>.splide__list>.splide__slide.is-active::after {
	border: none;
}

.shipments__splide.shipments__splide--text .splide__track--nav>.splide__list>.splide__slide.is-active::after {
	background-color: var(--primary);
}

.shipments__item {
	display: grid;
	grid-template-columns: minmax(400px, 640px) 1fr;
	gap: 30px;
}

.shipments__item-logo {
	background-color: var(--disabled);
	padding: 20px;
	max-width: 134px;
}

.shipments__wrap-text {
	margin-top: auto;
}

.shipments__item-title + .shipments__item-prop,
.shipments__item-prop + .shipments__item-production,
.shipments__item-production + .shipments__item-prop,
.shipments__item-prop + .shipments__item-prop {
	margin-top: 24px;
}

.shipments__item-prop {
	gap: 16px;
}

.shipments__item-prop-icon {
	min-width: 32px;
}

.shipments__item-production {
	padding-left: 30px;
}

.shipments__item-production,
.shipments__item-production li {
	list-style: disc;
}

.shipments__item-production li::marker {
	font-size: 14px;
}

.shipments__item-production li + li {
	margin-top: 16px;
}

.shipments__item-photos {
	position: relative;
	display: flex;
}

.shipments__item-photo {
	position: relative;
	width: 30%;
	height: 640px;
	cursor: pointer;
	transition: width var(--hover-time) ease;
}

.shipments__item-photo::before {
	content: attr(data-num);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 24px;
	font-family: var(--font-main);
	font-weight: bold;
	top: 0;
	left: 0;
	width: 58px;
	height: 51px;
	color: var(--primary-bg);
	background-color: var(--primary);
}

.shipments__item-photo.is-active {
	width: 100%;
}

.shipments__item-photo picture,
.shipments__item-photo img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shipments__mobile-items {
	display: none;
	@include tablet {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
		gap: 32px;
	}
	@include mobile {
		grid-template-columns: 1fr;
	}
}

.shipments__mobile-item-pic {
	overflow: hidden;
}

.shipments__mobile-item-pic picture,
.shipments__mobile-item-pic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	min-height: 200px;
	max-height: 200px;
}

.shipments__mobile-item-title {
	font-size: 24px;
	margin-top: 16px;
	gap: 16px;
}

.shipments__item-mobile-icon {
	min-width: 45px;
}

/* Shipment-index */
.shipments.shipments--index {
	padding: 80px 0;
	@include mobile {
		padding: 64px 0;
	}
}

.shipments.shipments--index .shipments__desktop-items-list {
	@include mobile {
		display: none;
	}
}

.shipments.shipments--index .shipments__desktop-items-list .shipments__item {
	padding-bottom: 48px;
	border-bottom: 1px solid var(--blue-gray-bg, #CFD8DC);
}

.shipments.shipments--index .shipments__desktop-items-list .shipments__item + .shipments__item,
.shipments__ajax-view-wrapper + .shipments__ajax-view-wrapper {
	margin-top: 48px;
}

.shipments__ajax-view-wrapper:not(:first-child) {
	margin-top: 48px;
}

.shipments.shipments--index .shipments__item-info {
	gap: 32px;
	align-items: flex-start;
}

.shipments.shipments--index .shipments__wrap-text {
	margin-top: 0;
}

.shipments.shipments--index .shipments__item {
	grid-template-columns: minmax(400px, 1fr) 1fr;
}

.shipments.shipments--index .shipments__item-photo {
	width: 185px;
	height: 440px;
}

.shipments.shipments--index .shipments__item-photo.is-active {
	width: 500px;
}

.shipments.shipments--index .shipments__action {
	margin-top: 70px;
	text-align: center;
}

.shipments.shipments--index .shipments__action .shipments__button svg {
	@include mobile {
		display: none;
	}
}

.shipments.shipments--index .shipments__action .shipments__button {
	@include mobile {
		background-color: #ECEFF1;
		color: #607D8B;
	}
}

.shipments__desktop-items-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 64px 32px;
	@include mobile {
		display: none;
	}
}

.shipments__card {
	gap: 32px;
	height: 100%;
	@include mobile {
		gap: 16px;
	}
}

.shipments__card-pic {
	aspect-ratio: 16/9;
	overflow: hidden;
}

.shipments__card-pic picture,
.shipments__card-pic img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shipments__card-action {
	margin-top: auto;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--blue-gray-bg, #CFD8DC);
}

.shipments.shipments--product .shipments__top {
	margin-bottom: 64px;
	@include mobile {
		margin-bottom: 32px;
	}
}