.slider-pagination-line.splide__pagination {
  position: relative;
  gap: 0;
  margin-top: 24px;
  flex-wrap: nowrap;
  bottom: 0;
  width: 100%;
  max-width: 1270px;
  padding: 0 40px;
  @include mobile {
    position: static;
    gap: 16px;
    margin-top: 32px;
  }
}

.slider-pagination-line.splide__pagination li {
  width: 100%;
  line-height: 0;
  @include mobile {
    width: auto;
  }
}

.slider-pagination-line .slider-pagination-line__page {
  height: 6px;
  width: 100%;
  background-color: #005339;
  opacity: 0.1;
  margin: 0;
  padding: 0;
  border-radius: 0;
  transition: background-color var(--hover-time) ease-out, opacity var(--hover-time) ease-out;
  @include mobile {
    height: 9px;
    width: 9px;
    opacity: 1;
    background: transparent;
    border: 2px solid #C8D6E0;
    margin: 0;
    border-radius: 50%;
  }
}

.slider-pagination-line .slider-pagination-line__page:hover {
  background-color: var(--primary);
  opacity: 1;
  border-radius: 50px;
}

.slider-pagination-line .slider-pagination-line__page.is-active {
  background-color: var(--primary);
  transform: scale(1);
  border-radius: 50px;
  height: 6px;
  opacity: 1;
  @include mobile {
    background-color: var(--primary);
    transform: scale(1);
    border: 2px solid var(--primary);
    height: 9px;
  }
}
