.slider-nav {
  display: flex;
  @include mobile {
    justify-content: flex-end;
    width: 100%;
  }
}

.slider-nav .slider-nav__splide-arrow {
  position: static;
  transform: none;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
  width: 80px;
  height: 80px;
  padding: 35px 24px;
  @include tablet {
    width: 60px;
    height: 60px;
    padding: 10px;
  }
}

.slider-nav .slider-nav__splide-arrow + .slider-nav__splide-arrow {
  margin-left: 25px;
}

.slider-nav .slider-nav__arrow-icon {
  fill: transparent;
  width: 32px;
  height: 16px;
}

.slider-nav .slider-nav__splide-arrow--prev .slider-nav__arrow-icon {
  transform: rotate(0deg);
}

.slider-nav__splide-arrow--prev.splide__arrow--prev {
  left: 0;
  @include to(1200px) {
    left: -25px;
  }
}

.slider-nav__splide-arrow--next.splide__arrow--next {
  right: 0;
  @include to(1200px) {
    right: -25px;
  }
}