.slider-pagination-dotted.splide__pagination {
  position: static;
  gap: 16px;
  margin-top: 32px;
}

.slider-pagination-dotted .slider-pagination-dotted__page {
  height: 6px;
  width: 12px;
  opacity: 1;
  background: var(--primary-bg);
  border: 1px solid #C8D6E0;
  margin: 0;
  border-radius: 0;
  transition: width .2s linear,
              background-color var(--hover-time) linear,
              border var(--hover-time) linear;
}

.slider-pagination-dotted .slider-pagination-dotted__page:hover {
  border: 1px solid var(--primary);
  background: var(--primary-hover);
}

.slider-pagination-dotted .slider-pagination-dotted__page.is-active {
  background-color: var(--primary);
  transform: scale(1);
  border: 1px solid var(--primary);
  width: 24px;
  border-radius: 0;
}