.smart-captcha {
	min-width: 300px;
	@include mobile {
		min-width: 250px;
	}
}

.smart-captcha-manual {
	background: #f8f8f8;
	position: relative;
	border-radius: 16px!important;
	width: 100%;
}

.smart-captcha-manual:before {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.smart-captcha-manual:before {
	content: "Yandex SmartCaptcha";
	position: absolute;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #ccc;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}