.wysiwyg {
  font-family: var(--font-secondary);
  color: var(--primary-font-color);
  font-size: responsive 20px 24px;
  font-range: 576px 1024px;
}

.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6 {
  font-family: var(--font-secondary);
  font-weight: bold;
  margin: 0 0 32px;
}

.wysiwyg h2 {
  @extend .title--large;
}

.wysiwyg h3 {
  @extend .title--medium;
}

.wysiwyg h4 {
  font-size: 20px;
}

.wysiwyg h5 {
  @extend .text--normal;
}

.wysiwyg ul,
.wysiwyg ol {
  padding-left: 30px;
  font-weight: 400;
  margin-left: 0;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 22px;
  line-height: 32px;
  @include mobile {
    font-size: 18px;
  }
}

.wysiwyg ul li ~ li,
.wysiwyg ol li ~ li {
  margin-top: 20px;
}

.wysiwyg table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--disabled);
  border-collapse: collapse;
}

.wysiwyg table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid var(--disabled);
}

.wysiwyg table td {
  border: 1px solid var(--disabled);
  padding: 5px;
}

.wysiwyg ul li {
  list-style-type: disc;
}

.wysiwyg ul li > ul,
.wysiwyg ol li > ol {
  margin-top: 20px;
}

.wysiwyg p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-font-color, #4F4F4F);
}

.wysiwyg p + p {
  margin-top: 32px;
}

.wysiwyg p + h1,
.wysiwyg p + h2,
.wysiwyg p + h3,
.wysiwyg p + h4,
.wysiwyg p + h5 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.wysiwyg a {
  text-decoration: underline;
  color: var(--primary-font-color);
  @extend .link;
}

/* Wysiwyg-tabs */
.wysiwyg.wysiwyg--tabs {
  color: var(--primary-bg);
}

/* Wysiwyg-accordion */
.wysiwyg.wysiwyg--accordion {
  font-family: var(--font-secondary);
  color: var(--secondary-font-color);
  font-size: responsive 16px 18px;
  font-range: 576px 1024px;
}

.wysiwyg.wysiwyg--accordion ul,
.wysiwyg.wysiwyg--accordion ol {
  font-size: inherit;
  line-height: inherit;
}

.wysiwyg.wysiwyg--accordion ul li ~ li,
.wysiwyg.wysiwyg--accordion ol li ~ li {
  margin-top: 10px;
}

.wysiwyg.wysiwyg--accordion p {
  color: inherit;
}

/* Wysiwyg-about */
.wysiwyg.wysiwyg--about,
.wysiwyg.wysiwyg--product {
  font-family: var(--font-secondary);
  color: var(--primary-font-color);
  font-size: responsive 16px 18px;
  font-range: 576px 1024px;
}

.wysiwyg.wysiwyg--about ul,
.wysiwyg.wysiwyg--product ul,
.wysiwyg.wysiwyg--about ol,
  .wysiwyg.wysiwyg--product ol {
  font-size: responsive 16px 18px;
  font-range: 576px 1024px;
  line-height: inherit;
}

.wysiwyg.wysiwyg--about p,
  .wysiwyg.wysiwyg--product p {
  color: inherit;
  font-size: inherit;
}